<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS, JavaScript, Python, Docker, AWS">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <!--=============== REMIXICON ===============-->
     <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

     <link href="https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">

     <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> -->
    
    <title>Detail</title>
</head>
<body>

    <div class="wrapper">
        <!-- navigation section -->
        <header>
            <!--------- main navigation / logo -------->
            <!-- <div class="main-nav"> -->
                <div class="logo">
                    <div class="main-logo">
                        <a href="index.html"><img src="images/logo2.svg" alt="logo" ></a>
                    </div>
                    <div class="search">
                        <input type="search" id="gsearch" name="gsearch">
                        <i class="ri-search-line search-icon"></i>
                    </div>
                </div>


                <!-- menu logo -->
                <button class="mobile-nav-toggle" 
                    aria-controls="primary-navigation" aria-expanded="false">
                    <span class="sr-only">
                        <img src="images/hambuger-menu.svg" alt="menu-logo"/>
                    </span> 
                    <!--- add menu there to help screen readers know is not just an icon but a menu button-->
                </button>
                <!-- aria-controls="primary-navigation" -->
                <button class="mobile-nav-toggle-close" aria-expanded="false">
                    <span class="sr-only">
                        <img src="images/x-10327.svg" alt="menu-logo"/>
                    </span> 
                    <!--- add menu there to help screen readers know is not just an icon but a menu button-->
                </button>
                
                <div class="nav-links-menu">
                    <div class="subheader" id="nav-menu">
                        <nav>
                            <ul id="primary-navigation" data-visible="false"  class="primary-navigation">
                                <!-- <li class="active"><a href="index.html" class="home-link">Home</a></li> -->
                                <li><a href="portfolio.html" class="portfolio-link">Portfolio</a></li>
                                <li><a href="login.html" class="sign-in-link">Sign-In</a></li>
                                <li><a href="signup.html" class="create-account-link">Create account</a></li>
                                
                            </ul>
                        </nav>
                    </div>

                    <!---- toggle/close icon ---->
                    <!-- <div class="toggle-menu"> -->
                        <!-- <div class="nav__toggle" id="nav-toggle">
                            <i class="ri-menu-line"></i>
                        </div> -->
                        <!-- <div class="nav__close" id="nav-close">
                            <i class="ri-close-line"></i>
                        </div> -->
                    <!-- </div> -->
                </div>
            <!-- </div> -->
        </header>


        <div class="main-detail-post">
            <div class="detail-column">
                <div class="detail-post">
                    <img src="images/author.jpg" alt="post-image" class="post-image">
                    <div class="main-post">
                        <div class="main-post-author">
                            <img src="images/author.jpg" alt="author-image">
                            <div class="author-name">
                                <p class="author-name-link">Billy Hewlett</p>
                                <p class="date">Posted on Dec 25</p>
                            </div>
                           
                            <div class="post-edit">
                                <a href="{% url 'blog:post-update' post.slug post.pk %}">Update</a>
                            </div>
                            <div class="post-delete">
                                <a href="{% url 'blog:post-delete' post.slug post.pk %}">Delete</a>
                            </div>
                        
                        </div>
                        <div class="main-post-headline">
                            <h2>Exponentiation in JavaScript: A Beginner's Guide</h2>
                        </div>
                        <div class="main-post-tags">
                            <!-- <button><span id="tag-color"></span>{{ tag }}</button> -->
                          
                        </div>
                        <div class="post-main-detail ">
                            <p>Exponentiation refers to a mathematical process of multiplying a number by itself, raised to the power of another number.</p>
                       
                            <p>If, for instance, we raise 2 to the power of 3, we calculate it as 2 * 2 * 2, which gives us the result of 8.</p>
                     
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit dolores dignissimos asperiores, magnam facere quos voluptas nam adipisci aliquid cupiditate mollitia quo modi ut commodi eius labore sit culpa, veniam optio! Assumenda hic officiis dolorum minima doloribus beatae, ratione sequi nihil? Soluta consequuntur ut odio impedit beatae nesciunt quod autem nulla? Dolorum est delectus eveniet architecto quasi blanditiis totam, voluptatum assumenda. Ab excepturi ipsum expedita quaerat mollitia nisi similique, quo magnam molestiae quos, eveniet totam voluptatum hic dicta modi velit.
                            </p>
                            <p>
                                Fascinatingly, all of these developments are interconnected, with each breakthrough leading to another and another, creating a domino effect that has transformed our world.
                            
                                Admiringly, the innovators of this era were truly extreme, pushing the boundaries of what was thought possible and setting the stage for future advancements that we continue to benefit from today.
                            
                                Charmingly, women played a prominent role in the field of computer science during this time, but their representation has decreased since then, making it all the more important to recognize their contributions and support gender diversity in tech.
                            
                                Curiously, computer scientists back then were essentially mathematicians working with monstrous machines to solve complex problems, with a focus on math rather than technology itself.
                            
                                Amusingly, these early computers took up entire rooms and required large teams to operate, highlighting the significant resources needed to make technology work at that time.
                            
                                Oddly, most of these computers were programmed using physical controls, as there were no high-level programming languages back then (first half of the 20th century), and programming methods were much more costly and exhausting compared to today's programming methods.
                            
                                Seriously, without the code-breaking work during WWII, we may have been living in a very different world today, with a dark alternate history that the TV series "The Man in the High Castle" offers a glimpse of.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <!--===================== external- share ===============================-->
            <div class="external-share-container">
                
                <div class="share-scroll share-scroll-position">
                    <div class="social-share">
                        <i class="ri-heart-line share-like pop"></i>
                        <div class="like-count"></div>
                        <p class="pop-like kat">Like this article</p>
                    </div>
                    <div class="social-share">
                        <i class="ri-message-3-line share-comment pop"></i>
                        <div class="comment-count"></div>
                        <p class="pop-comment kat">Write a comment</p>
                    </div>
                    <div class="social-share">
                        <i class="ri-bookmark-line share-bookmark pop"></i>
                        <p class="pop-bookmark kat">Add Bookmark</p>
                    </div>
                    <div class="social-share">
                        <i class="ri-share-line share-share pop"></i>
                        <p class="pop-share kat">Share this article</p>
                    </div>
                    
                   <div class="social-scroll-wrapper">
                        <div class="social-cs9 share-buttons">
                            <a href="#" class="share-button reddit">
                                <i class="ri-reddit-fill"></i><p>Reddit</p>
                            </a>
                            <a href="#" class="share-button linkedin">
                                <i class="ri-linkedin-box-fill"></i><p>Linkedin</p>
                            </a>
                            <a href="#" class="share-button twitch">
                                <i class="ri-twitch-fill"></i><p>Twitch</p>
                            </a>
                            <a href="#" class="share-button whatsapp">
                                <i class="ri-whatsapp-fill"></i><p>Whatsapp</p>
                            </a>
                            <a href="#" class="share-button facebook">
                                <i class="ri-facebook-circle-fill"></i> <p>Facebook</p>
                            </a>
                            <a class="share-button twitter" href="#">
                                <i class="ri-twitter-fill"></i><p>Twitter</p>
                            </a>
                            <a href="#" class="permalink">
                                <i class="ri-links-line"></i><p>Permalink</p>
                            </a>
                        </div>
                    </div>
                    <div class="permalink-message">
                        <i class="ri-checkbox-circle-line"></i>
                        <p>Copied article link</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="main-detail-post">
            <div class="detail-column">
                <div class="detail-post">
                    <img src="images/author.jpg" alt="post-image" class="post-image">
    
                    <div class="main-post">
                        <div class="main-post-author">
                            <img src="images/author.jpg" alt="author-image">
                            <div class="author-name">
                                <p class="author-name-link">Billy Hewlett</p>
                                <p class="date">Posted on Dec 25</p>
                            </div>
                        </div>
                        <div class="main-post-headline">
                            <h2>Exponentiation in JavaScript: A Beginner's Guide</h2>
                        </div>
                        <div class="main-post-tags">
                            <button><span id="tag-color">#</span>javascript</button>
                            <button><span id="tag-color">#</span>python</button>
                            <button><span id="tag-color">#</span>docker</button>
                            <button><span id="tag-color">#</span>python</button>
                                
                        </div>
                        <div class="post-main-detail">
                            <p>Exponentiation refers to a mathematical process of multiplying a number by itself, raised to the power of another number.</p>
                       
                            <p>If, for instance, we raise 2 to the power of 3, we calculate it as 2 * 2 * 2, which gives us the result of 8.</p>
                     
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit dolores dignissimos asperiores, magnam facere quos voluptas nam adipisci aliquid cupiditate mollitia quo modi ut commodi eius labore sit culpa, veniam optio! Assumenda hic officiis dolorum minima doloribus beatae, ratione sequi nihil? Soluta consequuntur ut odio impedit beatae nesciunt quod autem nulla? Dolorum est delectus eveniet architecto quasi blanditiis totam, voluptatum assumenda. Ab excepturi ipsum expedita quaerat mollitia nisi similique, quo magnam molestiae quos, eveniet totam voluptatum hic dicta modi velit.
                            </p>
                            <p>
                                Fascinatingly, all of these developments are interconnected, with each breakthrough leading to another and another, creating a domino effect that has transformed our world.
                            
                                Admiringly, the innovators of this era were truly extreme, pushing the boundaries of what was thought possible and setting the stage for future advancements that we continue to benefit from today.
                            
                                Charmingly, women played a prominent role in the field of computer science during this time, but their representation has decreased since then, making it all the more important to recognize their contributions and support gender diversity in tech.
                            
                                Curiously, computer scientists back then were essentially mathematicians working with monstrous machines to solve complex problems, with a focus on math rather than technology itself.
                            
                                Amusingly, these early computers took up entire rooms and required large teams to operate, highlighting the significant resources needed to make technology work at that time.
                            
                                Oddly, most of these computers were programmed using physical controls, as there were no high-level programming languages back then (first half of the 20th century), and programming methods were much more costly and exhausting compared to today's programming methods.
                            
                                Seriously, without the code-breaking work during WWII, we may have been living in a very different world today, with a dark alternate history that the TV series "The Man in the High Castle" offers a glimpse of.
                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        
        <div class="external-share-container">
            
            <div class="share-scroll share-scroll-position">
                <div class="social-share">
                    <i class="ri-heart-line share-like pop"></i>
                    <div class="like-count"></div>
                    <p class="pop-like kat">Like this article</p>
                </div>
                <div class="social-share">
                    <i class="ri-message-3-line share-comment pop"></i>
                    <div class="comment-count"></div>
                    <p class="pop-comment kat">Write a comment</p>
                </div>
                <div class="social-share">
                    <i class="ri-bookmark-line share-bookmark pop"></i>
                    <p class="pop-bookmark kat">Add Bookmark</p>
                </div>
                <div class="social-share">
                    <i class="ri-share-line share-share pop"></i>
                    <p class="pop-share kat">Share this article</p>
                </div>
                
                <span class="social-scroll-wrapper">
                    <div class="social-cs9 share-buttons">
                        <a href="#" class="share-button reddit">
                            <i class="ri-reddit-fill"></i><p>Reddit</p>
                        </a>
                        <a href="#" class="share-button linkedin">
                            <i class="ri-linkedin-box-fill"></i><p>Linkedin</p>
                        </a>
                        <a href="#" class="share-button twitch">
                            <i class="ri-twitch-fill"></i><p>Twitch</p>
                        </a>
                        <a href="#" class="share-button whatsapp">
                            <i class="ri-whatsapp-fill"></i><p>Whatsapp</p>
                        </a>
                        <a href="#" class="share-button facebook">
                            <i class="ri-facebook-circle-fill"></i> <p>Facebook</p>
                        </a>
                        <a class="share-button twitter" href="#">
                            <i class="ri-twitter-fill"></i><p>Twitter</p>
                        </a>
                        <a href="#" class="permalink">
                            <i class="ri-links-line"></i><p>Permalink</p>
                        </a>
                    </div>
                </span>
                <div class="permalink-message">
                    <i class="ri-checkbox-circle-line"></i>
                    <p>Copied article link</p>
                </div>
            </div>
        </div> -->

        
    </div>

    <!---=================== FOOTER SECTION ==========================-->
    <footer>
        <div class="website-slogan">
            <p class="footer-website-name">DevWithCode</p>
            <p>A community that refines your programming journey.</p>
        </div>
        <ul class="footer-nav">
            <!-- <li class="footer-nav-link"><a href="#">Home</a></li> -->
            <li><a href="#">Home</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="signarture">
            <p>@2023</p>
            <i class="ri-heart-fill" class="love-emoji"></i>
        </div>
    </footer>
   
    <!--=============== SCROLLREVEAL ===============-->
    <script src="js/scrollreveal.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="js/script.js"></script>

   
</body>
</html>








   